/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
}

body {
  margin:0; padding:5vw;
  max-width:32em;
 
}

li {
  margin-bottom:5vw;
  
}

img {
  display:block;
  width:100%;
}


ul {
list-style:none;
margin:0;
padding:0;
}



#glassestypes{
position:relative;
}

#glassestypes h2:nth-of-type(2){
position:absolute;
left:50%; top:50%;
margin:0; padding:.5em 1em;
  text-align:center;
}

button{
  display: inline-block;
   padding: 0.5em 1.5em;
   margin:0 0.5em 0.5em 0;
   border-radius:2em;
   border: none;
   color:white;
   background-color: black;
   text-align:center;
   font-family: 'Open Sans', sans-serif;
}
button:hover{
  background-color: #323233;
}
#inleiding button{
  align-content: center;
}
#inleiding h1{
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
