/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
}

main {
  margin:0; 
  max-width:32em;
 
}

@media (min-width:38em) { body { padding:3vw; } }
@media (min-width:57em) { body { padding:2.5vw; } }




img {
  display:block;
  width:100%;
}

ul {
list-style:none;
margin:0;
padding:0;
}



nav ul {
  display:flex;
  
}

nav li{
  margin:0; padding:0;
  flex-basis:3em;
  flex-grow:1;
  justify-content: space-between;
 
}


nav img{
  width:2em;
  height:2em;
}

#inleiding{
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  margin: 2.5em 0 2.5em;
}

#inleiding h1{
  font-size: 40px;
}

#inleiding a{
  
    display: inline-block;
     padding: 16px 50px;
     margin:5px;
     border-radius:75px;
     color:white;
     background-color: black;
     font-size:16px;
     letter-spacing: 2px;
     text-transform: uppercase;
     text-decoration: none;
     
  
}

#inleiding a:hover{
  background-color:rgb(73, 73, 73);
}

#heading{
  font-family:'Open Sans', sans-serif;
  text-align: center;
  font-size: 36px;
  font-weight: 300;
}

#justglasses{
position:relative;
margin:3em 2em 4em 2em;

}

#justglasses h2{
  position:absolute;
  left:50%; top:50%; 
  margin:0; padding:0.5em 1em;
  font-family:'Open Sans', sans-serif;
  color:white;
}
#justsunglasses{
  position:relative;
 margin:3em 2em 4em 2em;
}

#justsunglasses h2{
  position:absolute;
  left:50%; top:50%;
  margin:0; padding: 0.5em 1em;
  margin-bottom: 20px;
  font-family:'Open Sans', sans-serif;
  color:white;

}
#bluelight{
  margin:3em 0 3em;
}

#bluelight a{

  padding: 15px 50px;
  border-radius:75px;
  color:white;
  background-color: black;
  font-size:12px;
  letter-spacing:2px;
  text-transform: uppercase;
  text-decoration: none;
  font-family:'Open Sans', sans-serif;
  margin-top:1em;
}

#bluelight img{
  width:100%;
 object-fit: cover;
  display: block;
}
#bluelight h2{
  font-family:'Open Sans', sans-serif;
  font-weight: 300;
  font-size:25px;
}

#bluelight p{
  font-family:'Open Sans', sans-serif;
  text-transform: uppercase;
}

#test img{
width:100%;
object-fit: cover;
display :block;

}
#tryon p{
  font-family:'Open Sans', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}

#tryon h2{
  font-family:'Open Sans', sans-serif;
  font-weight: 300;

}
#form{
  background-color:#003399 ;
  color:white;
 padding:2em 4em 2em 4em;
 font-family: 'Open Sans', sans-serif;
}